argcomplete==1.10.0
certifi==2020.6.20
chardet==3.0.4
idna==2.10
importlib.resources
numpy
olefile==0.46
opencv-python==4.2.0.32
pandas
pathlib
pdf2image
Pillow
pycryptodome==3.9.8
PyPDF2
pytesseract==0.3.5
pytest
python-dateutil==2.8.1
requests
six
sortedcontainers==2.2.2
urllib3==1.25.10
